@media screen and (min-width: 480px) {
  
  /****************************************
  Two Column Layout About
  ******************************************/
  #primary {
    width: 50%;
    float: left;
    }
  #secondary {
    width: 40%;
    float: right;
    }

/****************************************
  Three Column Layout (3* 5% margins)
  100%-15% of space used = 80%
  85/3= 28.33333333333333
  ******************************************/

/****************************************
  Page: Gallery
  ******************************************/  
#gallery li {
  width: 28.3333%;}

#gallery li:nth-child(4n) {
  clear: left;
}

/****************************************
  Page: About
  ******************************************/ 

  .profile-photo{
    float: left;
    margin: 0 5% 40px 0;
  }
 }


@media screen and (min-width: 660px){
/****************************************
  Page: Header
  ******************************************/   
 nav {
    background: none;
    float: right;
    font-size: 1.125em;
    margin-right: 5%;
    text-align: right;
    width: 45%;
}
 #logo{
    float: left;
    margin-left: 5%;
    text-align: left;
    width: 45%
  }
  h1 {
    font-size: 2.5ems;
  }
  h2 {
    font-size: 0.825em;
    margin-bottom: 20px;
  }
  
  header {
    border-bottom: 5px solid #006600;
    margin-bottom: 60px;
  }
 }
  
